# Node
node_modules
dist
*.log

# Rust
target/
Cargo.lock

# Tauri
src-tauri/target

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

/pnpm-lock.yaml
/package-lock.json
/tsconfig.node.tsbuildinfo